@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Web Service from Visual Studio Github action in effect for Sandeep Pachal</h1>
</div>
